{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Información de alimentos</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Hello: {{ app.user.username }}</p>
        {% endif %}
    </header>
    <nav>
        <ul>
            <li><a href="{{ path("route_homepage") }}">inicio</a></li>
            <li><a href="{{ path("route_listar") }}">ver alimentos</a></li>
            <li><a href="{{ path("route_listar_por_tipo") }}">ver alimentos por tipo</a></li>
            <li><a href="{{ path("route_contacto") }}">contacto</a></li>
            <li><a href="{{ path("route_new") }}">insertar</a></li>
            <li><a href="{{ path("route_buscar") }}">buscar</a></li>
            <li><a href="{{ path("tipo_index") }}">Tipos</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{path('route_logout')}}">Cerrar sesion </a></li>
            {% endif %}
        </ul>
    </nav>

    <main>{% block contenido %}{% endblock %}</main>

    <footer>
        - DWES -
    </footer>

{% endblock %}