{% extends '::layout.html.twig' %}
{% block title %}Alimentos{% endblock %}
{% block contenido %}
<form id="formBusqueda" method="post" action="{{ path('route_filtrar') }}">
    <label>Nombre
        <input type="text" name="nombre" />
    </label>
    <label>tipo
        <input type="text" name="tipo" />
    </label>
    <input type="submit" name="enviar" value="Enviar">
</form>
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
{% endblock %}
