{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }}
    Contacto
{% endblock %}

{% block contenido %}
    <h2>Contacto</h2>
    <time> Fecha: {{ fecha }}</time>
    <p>{{ mensaje }}</p>
{% endblock %}