{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }}
    Aplicación de alimentos para DWES
{% endblock %}

{% block contenido %}
    <h2>Inicio</h2>
    <time> Fecha: {{ fecha }}</time>
    <p>{{ mensaje }}</p>
{% endblock %}