{% extends '::layout.html.twig' %}
{% block title %}Insertar Alimento{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <form id="formAlimento" novalidate="true"
              method="POST" {{ form_enctype(form) }}
              action="{% if alimento is defined %} {{ path("route_update", {id: alimento.id}) }} {% else %}{{ path("route_create") }}{% endif %}">
            <div class="row col-xs-12">
                <div class="form-group col-md-4">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.energia) }}
                    {{ form_widget(form.energia) }}
                    {{ form_errors(form.energia) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.proteina) }}
                    {{ form_widget(form.proteina) }}
                    {{ form_errors(form.proteina) }}
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="form-group col-md-4">
                    {{ form_label(form.hidratocarbono) }}
                    {{ form_widget(form.hidratocarbono) }}
                    {{ form_errors(form.hidratocarbono) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.fibra) }}
                    {{ form_widget(form.fibra) }}
                    {{ form_errors(form.fibra) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.grasatotal) }}
                    {{ form_widget(form.grasatotal) }}
                    {{ form_errors(form.grasatotal) }}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.tipo) }}
                {{ form_widget(form.tipo) }}
                {{ form_errors(form.tipo) }}
            </div>

            {{ form_rest(form) }}

            <div class="col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>

        </form>
    </div>

    {{ form_errors(form) }}

{% for flash_message in app.session.flashbag.get('error') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

{% if alimento is defined %}
    <section>
        <h2>Propiedades</h2>
        <ul>
            {% for propiedad in alimento.propiedades %}
                <li>{{ propiedad }} <a href="{{ path("route_delete_propiedad", {id: alimento.id, idPropiedad: propiedad.id}) }}">Eliminar</a> </li>
            {% endfor %}
        </ul>
        {% if propiedadesRestantes | length > 0 %}
            <form id="formPropiedadAlimento" method="POST" action="{{ path("route_add_propiedad", {id: alimento.id}) }}">
                <select id="propiedad" name="propiedad">
                    {% for propiedad in propiedadesRestantes %}
                        <option value='{{ propiedad.id }}'>
                            {{ propiedad }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Nueva Propiedad" name="nuevaPropiedad">
            </form>
        {% endif %}
    </section>
{% endif %}
{% endblock %}
