{% extends '::layout.html.twig' %}
{% block title %}Alimentos{% endblock %}
{% block contenido %}
<table>
    <tr>
        <th>alimento (por 100g)</th>
        <th>energía (Kcal)</th>
        <th>grasa (g)</th>
    </tr>
    {% for alimento in entities %}
    <tr>
        <td>
            <a href="{{ path('route_ver', {'id' : alimento.id}) }}">
                {{ alimento.nombre }}
            </a>
        </td>
        <td>
            <a href="{{ path('route_edit', {'id' : alimento.id}) }}">
                editar
            </a>
        </td>
        <td>
            <a href="{{ path('route_delete', {'id' : alimento.id}) }}">
                eliminar
            </a>
        </td>
        <td>{{ alimento.energia }}</td>
        <td>{{ alimento.grasatotal }}</td>
        <td>{{ alimento.tipo.id }} - {{ alimento.tipo.nombre }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
