{% extends '::layout.html.twig' %}
{% block contenido %}
    <h1>Formulario de Login</h1>
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    <form action="{{ path("route_login_check") }}"
          method="post" id="login"
          class="form-horizontal">
        <div class="form-group">
            <label for="username" class="control-label col-md-offset-2 col-md-1">Username</label>
            <div class="col-md-6">
                <input type="text"
                       id="username" name="_username"
                       value="{{ last_username }}"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-md-offset-2 col-md-1">Password</label>
            <div class="col-md-6">
                <input type="password" id="password" name="_password" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="LOGIN" class="col-md-offset-3 btn btn-primary"/>
    </form>
{% endblock %}
