{% extends '::layout.html.twig' %}

{% block title %}
    Alimento - {{ alimento.nombre }}
{% endblock %}

{% block contenido %}
    <h1>{{ alimento.nombre }}</h1>
    <table>
        <tr>
            <td>Energia</td>
            <td>{{ alimento.energia }}</td>
        </tr>
        <tr>
            <td>Proteina</td>
            <td>{{ alimento.proteina }}</td>
        </tr>
        <tr>
            <td>Hidratos de Carbono</td>
            <td>{{ alimento.hidratocarbono }}</td>
        </tr>
        <tr>
            <td>Fibra</td>
            <td>{{ alimento.fibra }}</td>
        </tr>
        <tr>
            <td>Grasa total</td>
            <td>{{ alimento.grasatotal }}</td>
        </tr>
        <tr>
            <td>Tipo</td>
            <td>{{ alimento.tipo }}</td>
        </tr>
    </table>
{% endblock %}
